.v-dialog {
   .v-card {
      .v-card__title {
         font-weight: bold;
         font-size: 22px;
         line-height: 27px;
         padding: 30px 28px 10px;
        
      }  
      
      .container {
         padding: 30px 30px 0 30px
      }

      .v-card__actions {
         padding: 15px 30px;
      }
   }
}