


#login, #signup, #reset {

   .v-sheet#login-sheet {
      top: 2px;
   }

   .v-sheet#reset-sheet {
      top: -65px;
   }

   margin-top: -50px;

   .v-sheet {
      width: 414px;
      position: relative;
      top: 0px;
      background-color: transparent !important;

      .logo-large {
         margin-bottom: 100px;
      }
      .account {
         margin-top: 30px;
         display: inline-block;
         border: 2px solid #DFE6F0 !important;
         box-sizing: border-box;
         border-radius: 11px;
         padding: 10px 30px;
      }

      .button-login {
         background: #455AF7;
         /* purple-shadow */
         box-shadow: 0px 7px 18px rgba(69, 90, 247, 0.32) !important;
         border-radius: 11px;
         height: 52px
      }

      .no-shadow {
         box-shadow:none !important;
      }


      
      .login-block {
         display: block;
         align-items: baseline;
         margin-bottom: 40px;

       
         p {
            margin-top: 20px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

            color: #ABADB5;
         }
         h1 {
            pointer-events: none;
         }
         h2 {
            margin-left: 10px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: $light-grey-2;
            cursor: pointer;
            
            transition: color 0.3s ease;

            &:hover {
               color: $primary;
            }
         }
      }

      a {
         font-weight: 500;
         font-size: 13px;
         color: #4976EC;   
      }
   }

   /// input fields 


.v-text-field .v-label--active.v-label {
   max-width: 100%;
   text-transform: none !important;
   transform: translateY(0) scale(1); 
   color: #9D9FA5 !important;

   input {

   }
  
}

.v-text-field .v-label {
   max-width: inherit;
   /* overflow: hidden; */
   text-overflow: none;
   top: -26px;
   white-space: nowrap;
   pointer-events: none;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
}
.v-text-field {
   margin-bottom: 18px;

   input {
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
         color: #2e2e2e;
         background-color: #fff;
         border-color: #80bdff;
         outline: 0;
         box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
      }
      padding: 24px;
      border: 1px solid #CDDFF5;
      box-sizing: border-box;
      border-radius: 11px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      background: #fff;
   }

   .v-input__slot:before, .v-input__slot:after {
      display: none !important;
   }

   .v-input__append-inner {
      position: absolute;
      right: 10px;
      top: 9px;
   }
}

}