.tasks {



   .v-sheet  {
      overflow: auto;
      border-radius: 6px;
      background: #F9FAFA;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.13);
      
      .v-toolbar  {
         border-bottom-left-radius: 0px;
         border-bottom-right-radius: 0px;
         .counter {
            margin-left: 0.3rem;
            border-radius: 22px;
            padding: 3px 8px;
            font-size: 0.9375rem;
            background: $primary-light;
            color: $primary;

         }
         &__title {
            font-size: 17px;
            font-weight: 600;
         } 
      }

   }

   .task-list {
      min-height: 55vh;
      &__top-line {
         height: 5px;
      }

   .list-group {
      min-height: 20rem;
   }   

   &__item {
      background: #FFFFFF;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
      border-radius: 6px;
      margin: 0.8rem 0.9rem;

      &:first-child {
         margin-top: 0rem;
      }

      &:last-child {
         margin-bottom: 1rem;
      }

      .task {
         &__title {
            font-size: 11px;
            line-height: 1rem;
            margin-bottom: 0.3rem;
            font-weight: 700;
            text-transform: uppercase;
         }

         &__description {
            font-size: 12px;
            color: $dark-grey;
         }
      }
   }
 }
     

     



   .v-toolbar {
      box-shadow: none !important;
   }
   
}