@import "setup/normalize.scss";
@import "setup/typography.scss";
@import "setup/variables.scss";

@import "basics/base.scss";
@import "basics/layout.scss";
@import "basics/buttons.scss";


@import "components/navbar.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/tasks.scss";
@import "components/card.scss";
@import "components/projects.scss";
@import "components/intro.scss";
@import "components/taskEditor.scss";
@import "components/login.scss";


