
div.v-application {
    background: #F5F6FA !important;

   .base-y-padding {
      padding-left: 62px; 
      padding-right: 62px;
   }
   .base-y-margin {
      margin-left: 62px; 
      margin-right: 62px;
   }

   .base-l-padding {
      padding-left: 62px; 
     
   }

   .green--text {
      color: $primary !important;
   }

   .v-text-field > .v-input__control > .v-input__slot  {
      font-size: 16px !important;
      font-weight: 600;
   }

   

   .line-divider {
      
      width: 110px;
      height: 2px;
      margin: 0 auto;
      background: linear-gradient(270deg, #F7F7F7 -1.16%, rgba(247, 247, 247, 0) 124.54%);
      margin-bottom: 15px;
   }

   .vertical-divider {
      margin-left: 40px;
      margin-right: 20px;
      width: 1px;
      height: 33px;
      background: #C4C4C4;
   }

   .large-divider {
      height: 1px;
      margin-bottom: 48px;
      background: #D6D6D6;
   }

   .primary {
      background: $primary !important;
   }
   .primary-text {
      color: $primary !important;
      caret-color: $primary !important;
   }

   .primary--text {
      color: $primary !important;
      caret-color: $primary !important;
   }
   

   // text-input fields 

   .v-label--active {
      text-transform: uppercase !important;
   }
   .v-textarea  {
       .v-label--active {
          text-transform: capitalize !important;
       }
   }

   
}



// component top part 

.top-header {
   font-size: 48px;
   
}

.top-search {
   
  
   color: #808080;

   .v-label--active {
      display: none;
   }
   
   .v-input__slot {
      margin-bottom: 3px; 
      font-weight: 400 !important;

      .v-text-field__slot {
         font-size: 21px;
      }
      &:before {
         display: none;
      }

      &:after {
         display: none;
      }
   }
}








//



